
# BEGIN WebP Express
# Строки между `BEGIN WebP Express` и `END WebP Express` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.
# The rules have left the building
# END WebP Express